.searchReviewsLink{
	display: block;
	font-family: 'Lucida Sans', 'Lucida Sans Demi', 'Lucida Grande', Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	color: #454545;
	background: url(sr_review_count_bg.png) no-repeat;
	height: 26px;
	width: 150px;
	clear: both;
	line-height: 40px;
	padding-left: 17px;
}
.searchReviewsLink:hover{
	color: #000;
}
#searchReviewsWidgetContainer{
	position: fixed;
	width: 720px;
	height: 500px;
	top: 20px;
	left: 50%;
	margin-left: -350px;
	border: 2px solid #aaa;
	background: #fff;
	-moz-box-shadow: 0 0 7px #999;
	-webkit-box-shadow: 0 0 7px #999;
	box-shadow: 0 0 7px #999;
}
#searchReviewsWidgetSubcontainer{
	clear: both;	
	height: 462px;
	overflow-y: auto;
	overflow-x: hidden;
}
#searchReviewsWidgetSubcontainer iframe{
	border: none;
	width: 698px;
	height: 900px;
	background: #fff;
}
#searchReviewsLinksContainer:before,
#searchReviewsLinksContainer:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
	overflow: hidden;
}
#searchReviewsLinksContainer {
	zoom: 1; /* IE < 8 */
	background: #fff;
}
#searchReviewsCloseLink,
#searchReviewsExpandLink{
	display: block;
	float: right;
	height: 0;
	width: 17px;
	padding-top: 17px;
	overflow: hidden;
	cursor: pointer;
	margin: 3px 3px 3px 0;
}
#searchReviewsCloseLink{
	background: url(sr_close_button.gif) no-repeat 0 0;
}
#searchReviewsCloseLink:hover{
	background: url(sr_close_button.gif) no-repeat 0 -17px;
}
#searchReviewsExpandLink{
	background: url(sr_expand_button.gif) no-repeat 0 0;
}
#searchReviewsExpandLink:hover{
	background: url(sr_expand_button.gif) no-repeat 0 -17px;
}