@charset "utf-8";
/* CSS Document */

/* Reset Browser Styles */
html, body, div, p, a, img, span, ul, ol, li, h1, h2, h3, h4, h5, h6, input, form, label, checkbox, radio, textarea {
	margin:0;
	padding:0;
	list-style:none;
	border:0;
	text-decoration:none;
	line-height:normal;
	font:normal 12px "Lucida Sans", "Lucida Sans Demi", "Lucida Grande", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	line-height:normal;
}
textarea {
	overflow:auto;
}
/* Universal Rules 
--------------------------------------------------------------------------------- */
.nobackground, .topContainer .nobg {
	background: none;
}
.clear {
	clear:both;
	width:100%;
	display:block;
	float:left;
	position:relative;
}
#noborder {
	border:0;
}
a.disabled {
	cursor:default;
	outline:none;
}
/* Widget */
.fix {
	position:relative;
	top:180px;
}
#topMargin {
	clear:both;
	margin-top:25px;
}
a:link, a:visited {
	color:#1ba1c1;
}
a:hover {
	color:#1ba1c1;
}
/* Layout starts here 
--------------------------------------------------------------------------------- */
/* Middle Container */
.iframereviews{
	width:98%;
	float:left;
	margin:0px 0 0;
	padding:17px 10px 43px 10px;
	position:relative;
}
.no-of-Reviews {
	width:460px;
	float:left;
	font-size:12px;
	color:#999;
}
.no-of-Reviews span {
	font-size:14px;
	color:#000;
	font-weight:bold;
}
.no-of-Reviews span.included {
	font-size:11px;
	color:#0b8ba8;
	font-weight:normal;
}
.no-of-Reviews input#searchQuery{
	border: 2px solid #38ADC5;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 200px;
	font-weight: bold;
}
#search_button{
	margin-bottom: -10px;
}
#powered_by{
	display: block;
	float: right;
	width: 100px;
	margin-top: 4px;
}
.textHolder {
	width:100%;
	height:58px;
	float:left;
	background:url(../images/Holder_Bg.png) no-repeat;
	position:absolute;
	left:-12px;
	top: 32px;
}
.textHolder h2 {
	width:60%;
	float:left;
	height:17px;
	background:url(../images/AskFriends_Icon.png) no-repeat left;
	padding-left:40px;
	margin:25px 0 0 23px;
	font:Bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
}

a#em2c {
	width:77px;
	height:21px;
	float:left;
	left: 420px;
	margin: 20px 0 0 0;
	position: absolute;
	
}
a#em2c:hover {
	width:77px;
	height:21px;
	float:left;
	background: url(../images/AskNow_Btn.png) no-repeat 0 bottom;
}
.source {
	width:100%;
	float:left;
	margin:6px 0 0;
	padding-bottom:10px;
	border-bottom: 1px solid #e4e4e4;
}
.source ul {
	float:left;
	display:block;
	margin:0 0 0 0px;
}
.source ul li {
	width:auto;
	color:#999999;
	float:left;
	padding:0px 3px;
	margin-right:0px;
	margin-top:12px;
}
.source ul li a {
	font:Bold 11px "Lucida Sans", Arial, sans-serif;
	color:#999999;
	float:left;
	font-weight:bold;
	padding:0px;
	margin-right:2px;
	margin-top:2px;
}
.source ul li a:hover, .source ul li a.select {
	color:#45D0DF;
}
.source ul li a.active{
	color:#45D0DF;
}

.showingResutls {
	width:100%;
	clear: both;
	font: 11px "Lucida Grande", Arial, sans-serif;
	color:#a7a7a7;
	margin:20px 0 5px;
	padding:0;
}
.showingResutls p.text {
	display:block;
	float:left;
}
p.pagination {
	display:block;
	float:right;
	padding:4px 0;
}
p.pagination a {
	padding:3px 2px 2px;
	border:1px solid #e4e3e3;
	color:#a7a7a7;
}
p.pagination a:hover, p.pagination a.selected {
	color: #00BED3;
}
p.pagination a.prev {
	margin-right:7px;
	border:0;
}
p.pagination a.next {
	margin-left:5px;
	border:0;
}
/* Main Review List for product Search
----------------------------------------------------------------------------------------- */
#reviewList {
	width:100%;
	float:left;
	padding:13px 0 0;
}
#reviewList ul.lists{
	margin-bottom: 15px;
}
#reviewList ul, #reviewList ul li {
	width:100%;
	float:left;
	display:block;
}
#reviewList ul li {
	padding-bottom:0px;
	margin-bottom: 10px;
	border-bottom:1px dotted #e4e4e4;
}
#reviewList ul li h2 a {
	display:block;
	float:left;
	font: 16px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#0b8ba8;
	text-decoration:underline;
}
#reviewList ul li h2 p.rated a {
	text-decoration:none;
}
#reviewList ul li p.prdTitle {
	display:block;
	width:45%;
	float:left;
	font:12px Arial, Helvetica, sans-serif;
	color:#45D0DF;
	line-height:21px;
	margin: 0;
}
#reviewList ul li p.prdTitle span {
	font-size:11px;
	color:#333;
}
#reviewList ul li div.level2 {
	width:100%;
	float:left;
	margin:7px 0 8px;
}
#reviewList ul li p.fullPost {
	width:100%;
	float:left;
	font-size:12px;
	line-height:18px;
	color:#4e4d4d;
	padding-bottom:10px;
}
#reviewList ul li p.smallpost {
	display:block;
	width:88%;
	float:right;
	font-size:12px;
	line-height:18px;
	color:#4e4d4d;
	padding-bottom:20px;
}
#reviewList ul li p.rated, #srWidget p.rated{
	width:60px;
	float:left;
	margin:3px 0 0 5px;
}
#srWidget p.rated{
	width:117px;
}
#reviewList ul li p.rated a, #srWidget p.rated a{
	width:11px;
	height:10px;
	float:left;
	background:url(../images/PartnersRated_Reviews.png) no-repeat 0 0;
}
#reviewList ul li p.rated a:hover, #reviewList ul li p.rated a.rate, #srWidget  p.rated a:hover, #srWidget  p.rated a.rate{
	background-position:0 -10px;
}
#reviewList ul li p.relatedLinks {
	font-size:10px;
	width: 51%;
	display:block;
	text-align:right;
	float:right;
	color:#999;
	margin:4px 8px 0 0;
}
#reviewList ul li a.more {
	font-size:11px;
	color:#3ca2b9;
	text-decoration:underline
}
p.postLinks a {
	font-size:10px;
	color:#a7a7a7;
	margin-right:10px;
}
.content {
	width:100%;
	float:left;
	clear:both;
	color:#4e4d4d;
}
/* Iamge Container */
div.imgContainer {
	display:block;
	width:138px;
	float:left;
	margin:3px 6px 10px 0;
	color:#4e4d4d;
	border:1px solid #ebebeb
}
/* Post footer Links  */
 a.rateYes {
	width:14px;
	height:14px;
	float:left;
	background:url(../images/Rate_Yes-No.png) no-repeat 0 0;
	padding-left:15px;
}
a.rateNo {
	width:14px;
	height:14px;
	float:left;
	background:url(../images/Rate_Yes-No.png) no-repeat 0 -14px;
	padding-left:15px;
}
p.postLinks a.shareDis {
	width:12px;
	height:12px;
	float:left;
	background: url(../images/Share_Icon.png) no-repeat 0 0;
	padding-left:13px;
	margin-right:48px;
}
a.comments {
	width:14px;
	height:12px;
	float:left;
	background: url(../images/RatedReviews_Sprite.png) no-repeat 0 -41px;
	padding-left:16px;
	color:#2c9ab4;
	text-decoration:underline;
}