@charset "utf-8";
/* CSS Document */

/* Reset Browser Styles */
html, body, div, p, a, img, span, ul, ol, li, h1, h2, h3, h4, h5, h6, input, form, label, checkbox, radio, textarea {
	margin:0;
	padding:0;
	list-style:none;
	border:0;
	text-decoration:none;
	line-height:normal;
	font:normal 12px "Lucida Sans", "Lucida Sans Demi", "Lucida Grande", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	line-height:normal;
}
textarea {
	overflow:auto;
}
/* Universal Rules 
--------------------------------------------------------------------------------- */
.nobackground, .topContainer .nobg {
	background: none;
}
.clear {
	clear:both;
	width:100%;
	display:block;
	float:left;
	position:relative;
}
#noborder {
	border:0;
}
a.disabled {
	cursor:default;
	outline:none;
}
/* Widget */
.fix {
	position:relative;
	top:180px;
}
#topMargin {
	clear:both;
	margin-top:25px;
}
a:link, a:visited {
	color:#1ba1c1;
}
a:hover {
	color:#1ba1c1;
}

#white_link {
	color:#fff;
	text-decoration: underline;
}

/* Layout starts here 
--------------------------------------------------------------------------------- */
.bg1 {
	background:url(http://c448112.r12.cf2.rackcdn.com/images/body_bg1.jpg) repeat-x 100% -1px;
}
.bg2 {
	background: url(http://c448112.r12.cf2.rackcdn.com/images/body_bg2.png) repeat-x 100% 0;
}
.outerWrap, .outerWrap2 {
	width:100%;
	float:left;
	position:relative;
}
.outerWrap2 {
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Header_Image.png) no-repeat center 61px;
	width:100%;
	min-height:293px;
	float:left;
	
}
.totalWrap {
	width:980px;
	margin:0 auto;
	position:relative;
}
.bodyWrap {
	width:100%;
	float:left;
}
/* Top Container
--------------------------------------------------------------------------------- */
.topContainer {
	width:100%;
	height:49px;
	float:left;
	padding:12px 0 0 0;
}
.toplogo {
	width:155px;
	height:36px;
	float:left;
	margin-right:80px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Logo.png) no-repeat;
}
/* navigation */
ul.nav {
	min-width:475px;
	float:left;
	margin:16px 0 0;
}
ul.nav li {
	display:block;
	width:auto;
	float:left;
}
ul.nav li a {
	height:33px;
	float:left;
	padding:0 15px;
	font-size:12px;
	color:#515151;
}
ul.nav li a:hover, ul.nav li a.active {
	height:33px;
	float:left;
	padding:0 15px;
	color:#515151;
	font-size:12px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Nav_Hover.jpg) no-repeat center bottom;
}
#leftSpace {
	float:left;
	margin-left:235px;
}
/* Account Panel 
--------------------------------------------------------------------------------- */
.accountPanel {
	width:235px;
	float:right;
	margin:13px 0 0 0;
}
.accountPanel ul {
	width:100%;
	float:left;
	font-family:"Lucida Sans", "Lucida Grande", Arial, sans-serif;
}
.accountPanel ul li {
	width:auto;
	float:left;
	color:#868585;
	line-height:21px;
}
.accountPanel ul li a {
	width:auto;
	float:left;
	color:#868585;
	padding:0 10px;
	line-height:21px;
}
.accountPanel .fconnect {
	padding-right:0;
}
/* Search for Reviews Home Page 
--------------------------------------------------------------------------------- */

#searchReviews {
	width:100%;
	float:left;
	margin:92px 0 0 0;
}
#searchReviews h1 {
	width:339px;
	margin:0 auto;
}
.search-a-review {
	width:100%;
	height:102px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/SearchReviews_Bg.png) no-repeat left 18px;
	margin:10px 0 0 0;
}
.searchBg {
	width:915px;
	height:92px;
	float:right;
	background:#00bed3;
	border:1px solid #2695ba;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
}
#searchReviews .inner{width:670px; 
	float:left;
	margin:5px 0 0 45px;}
#searchReviews .innerLeft, #searchReviews .innerRight {
	width:310px;
	float:left;
	margin:5px 0 0 45px;
}
.innerLeft h2, .innerRight h2,.inner h2 {
	font: 14px/18px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#fff;
	padding-bottom:4px;
}
.innerLeft p, .innerRight p, .inner p {
	font:11px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#fff;
	margin:4px 0 0;
}
div.txtField1, div.txtField2, div.txtField {
	width:288px;
	height:21px;
	padding:10px 9px;
	background:#fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
 div.txtField  {
	width:660px;
	
}

div.txtField1 input, div.txtField2 input,  div.txtField input{
	width:100%;
	height:21px;
	display:block;
	font: 18px/18px "Lucida Grande", Arial, sans-serif;
	color:#454545;
}

div.txtFieldGrey {
	width:288px;
	height:21px;
	padding:10px 9px;
	background:#fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

div.txtFieldGrey {
	width:660px;
	
}


div.txtFieldGrey input{
	width:100%;
	height:21px;
	display:block;
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color:#999999;
}

#searchReviews input.search {
	cursor:pointer;
	width:120px;
	height:40px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Search_Btn.png) no-repeat 0px 0;
	font:Bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	margin:26px 0 0 35px;
	text-transform:uppercase;
	text-shadow: 0px -1px 1px #000;
	padding-left:10px;
	text-indent:5px;
}
/* Partner Links
--------------------------------------------------------------------------------- */
.partners {
	display:block;
	float:left;
	width:100%;
	margin:80px 0 0;
	position:relative;
}
.partners h4 {
	font-size:10px;
	color:#868585;
	padding-left:57px;
	padding-bottom:6px;
	font-family:"Lucida Sans", "Lucida Grande", sans-serif;
}
.partners ul {
	width:100%;
	float:left;
	padding:13px 57px 12px 57px;
}
.partners ul li {
	width: auto;
	float:left;
}
#carousel {
	display:block;
	width:100%;
	float:left;
	padding:13px 0 7px;
	margin-left:0px;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
}
#carousel #s7 {
	width:850px;
	float:left;
	margin-left:55px;
	padding:0px 10px;
	border:0;
}
#carousel #s7 li ul {
	display:block;
	width:100%;
	float:left;
	padding:0;
	margin:0;
	border:0;
}
#carousel #s7 li ul li {
	display:block;
	float:left;
	padding:0;
	margin:0;
}
#carousel #s7 li ul li a {
	padding:0 16px 0 5px;
}
#buttons {
	position:relative;
	top:8px;
}
#buttons a {
	outline:none;
	overflow:hidden;
}
#prev {
	width:8px;
	height:14px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Slide_leftArrow.png) no-repeat left;
	text-indent:-90000px;
}
#next {
	width:8px;
	height:14px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Slide_rightArrow.png) no-repeat left;
	text-indent:-90000px;
	position:absolute;
	right:0;
}
/* Bottom Links
---------------------------------------------------------------------------------- */
.BottomLinks {
	width:850px;
	float:left;
	padding:0 68px 32px 63px;
	margin:75px 0 0;
}
.BottomLinks h3 {
	font:12px/18px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#666666;
}
.list1, .list2, .list3, .list4 {
	display:block;
	float:left;
}
.list1 {
	width:132px;
	float:left;
	margin-right:79px;
}
.list2 {
	width:109px;
	float:left;
	margin-right:50px;
}
.list3 {
	width:189px;
	float:left;
	margin-right:32px;
}
.list4 {
	width:252px;
	float:right;
}
.BottomLinks ul {
	width:100%;
	float:left;
}
.BottomLinks ul li {
	width:100%;
	float:left;
}
.BottomLinks ul li a, .BottomLinks p {
	font-size:11px;
	color:#1ba1c1;
	line-height:18px;
}
.BottomLinks ul li a:hover {
	text-decoration:underline;
}
/* footer
---------------------------------------------------------------------------------- */
.footer {
	clear:both;
	width:850px;
	height:53px;
	float:left;
	padding:11px 68px 0 63px;
	border-top:1px solid #ededed
}
.footer p.copyright {
	font: 10px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#666666;
}
/* Search Results Page 
---------------------------------------------------------------------------------- */
.container {
	width:100%;
	float:left;
}
.searchContainer {
	display:block;
	width:810px;
	float:right;
	margin:20px 0px 15px 0;
}
.searchContainer .innerLeft {
	width:325px;
	float:left;
	margin:5px 0 0 0px;
}
.searchContainer .inner {
	width:650px;
	float:left;
	margin:5px 20px 0 0px;
}
.searchContainer .innerRight {
	width:320px;
	float:left;
	margin:5px 0 0 23px;
}
.searchContainer .innerLeft h2, .searchContainer .innerRight h2, .searchContainer .inner h2{

	font: 14px/18px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#fff;
	padding-bottom:4px;
}
.searchContainer .innerLeft p, .searchContainer .innerRight p, .searchContainer .inner p{
	font:11px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#fff;
	margin:4px 0 0;
}
.searchContainer div.txtField1, .searchContainer div.txtField2, .searchContainer .inner div.txtField {
	width:303px;
	height:21px;
	padding:10px 9px;
	background:#fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.searchContainer .inner div.txtField {
	width:600px;

}
.searchContainer div.txtField1 input, .searchContainer div.txtField2 input, .searchContainer .inner div.txtField {
	width:100%;
	height:21px;
	display:block;
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color:#454545;
}
.searchContainer input.search {
	cursor:pointer;
	width:120px;
	height:40px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Search_Btn.png) no-repeat 0px 0;
	font:Bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	margin:26px 0 0 16px;
	text-transform:uppercase;
	text-shadow: 0px -1px 1px #000;
	padding-left:10px;
	text-indent:5px;
}
#searchReviews .categories {
	clear:both;
	width:750px;
	padding:0 114px;
	float:left;
	font: 11px "Lucida Sans", "Lucida Grande", sans-serif;
	color:#0d8daa;
	margin:6px 0 0 0;
}
/* Left Container */
.leftContainer {
	width:160px;
	min-height:200px;
	float:left;
	margin:242px 9px 0 0;
}
/* Tag coluds */
.tagCloud {
	width:93%;
	float:left;
	margin:20px 5px 0 0px;
	padding:5px;

}
.tagCloud p {
	display:block;
	width:100%;
	text-align:justify;
}
.tagCloud a {
	
	padding:0 1px;
}
.tagCloud .x10 {
	font-size:200%;
}
.tagCloud .x9 {
	font-size:190%;
}
.tagCloud .x8 {
	font-size:180%;
}
.tagCloud .x7 {
	font-size:170%;
}
.tagCloud .x6 {
	font-size:160%;
}
.tagCloud .x5 {
	font-size:150%;
}
.tagCloud .x4 {
	font-size:140%;
}
.tagCloud .x3 {
	font-size:130%;
}
.tagCloud .x2 {
	font-size:120%;
	line-height: 22px;
}
.tagCloud .x1 {
	font-size:100%;
	line-height: 26px;
}
/* search within results */
.searchResults {
	width:158px;
	height:30px;
	margin:5px 0 8px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/SearchResults_Bg.png) no-repeat;
}
.searchResults input {
	color: #D1D1D1;
	font: 11px/19px Arial, Helvetica, sans-serif;
	height: 16px;
	margin: 7px;
	width: 120px;
}
/* left inner content */
div.filters, div.titlesList {
	padding: 0 0px 0 3px;
	width: 170px; /*<!-- 3 march changes  -->*/
	min-height:300px;
}
.filters h3, div.titlesList h3{
	width:100%;
	float:left;
	font:11px/18px "Lucida Sans", "Lucida Grande", sans-serif;
	color:#8a8989;
	border-bottom:1px solid #e5e5e5;
}
div.titlesList{
	min-height: 0;
	margin-bottom: 15px;
}
div.titlesList h3{
	float: none;
}
.activeBrand {
	width:100%;
	float:left;
	margin: 10px 0;
}
.activeBrand h4 {
	width:100%;
	font:Bold 12px/14px Arial, Helvetica, sans-serif;
	color:#0B8BA8;
	padding:0 0 5px
}
.brandName {
	width:100%;
	float:left;
}
.brandName span {
	display:block;
	float:left;
	margin-right:10px;
	padding:2px 0;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color:#3f3f3f;
}
.brands {
	width:100%;
	clear:left;
	padding:6px 0;
}
.brands a {
	font:Bold 12px/14px Arial, Helvetica, sans-serif;
}
.brands span, span.reset {
	background: url("http://c448112.r12.cf2.rackcdn.com/images/heirarchy.png") no-repeat scroll 0 4px transparent;
	float: left;
	height: 12px;
	width: 4px;
	padding-left:12px;
}
span.active {
	background: url("http://c448112.r12.cf2.rackcdn.com/images/heirarchy.png") no-repeat scroll 0 bottom transparent;
	float: left;
	height: 5px;
	width: 4px;
	margin:3px 0 0;
	padding-left:12px;
}
ul.options {
	display:none;
	margin:5px 0 0 16px;
}
ul.options li, ul.options li a {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#45D0DF;
	line-height:16px;
}
ul.options li a:hover {
	color:#45D0DF;
	text-decoration:underline
}
/* Right Container */
.rightContainer {
	width:120px;
	float:right;
	padding:0 5px 5px;
	margin:0;
	position:relative
}
#widgetPublisher {
	float: left;
	height: auto;
	width: 120px;
	position:relative;
	left:0;
	background:#1761a3;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom: 20px;
}
#widgetPublisher h3 {
	display:block;
	float:left;
	color:#fff;
	font: bold 12px Arial, Helvetica, sans-serif;
	letter-spacing: -0.5px;
	margin: 5px 5px 0 5px;
}
#widgetPublisher p {
	width: 110px;
	float:left;
	color:#fff;
	font: 11px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	margin: 7px 5px 0;
}
#widgetPublisher a {
	float: left;
	height: 47px;
	left: 3px;
	position: relative;
	top: 3px;
	width: 120px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/GetThisWidget_Btn.png) no-repeat;
}
#widgetPublisher a span {
	height:0px;
	display:none;
}
/* Middle Container */
.middleContainer {
	width:650px;
	float:left;
	margin:0px 0 0;
	padding:17px 10px 43px 10px;
	background:#fff;
	border:1px solid #e4e4e2;
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	box-shadow: 3px 3px 3px #efefef;
	-moz-box-shadow: 0px 1px 3px #efefef;
	-webkit-box-shadow: 3px 3px 3px #efefef;
	position:relative;
}
.no-of-Reviews {
	width:100%;
	float:left;
	font-size:12px;
	color:#999;
}
.no-of-Reviews span {
	font-size:14px;
	color:#000;
	font-weight:bold;
}
.no-of-Reviews span.included {
	font-size:11px;
	color:#0b8ba8;
	font-weight:normal;
}
input#searchQuery{
	border: 2px solid #38ADC5;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 200px;
	font-weight: bold;
}


.textHolder {
	width:100%;
	height:58px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Holder_Bg.png) no-repeat;
	position:absolute;
	left:-12px;
	top: 32px;
}
.textHolder h2 {
	width:60%;
	float:left;
	height:17px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/AskFriends_Icon.png) no-repeat left;
	padding-left:40px;
	margin:25px 0 0 23px;
	font:Bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
}
/*#linkHolder{
	float:right;
	margin:27px 25px 0 0;
	width:20%;
	height:55px;
	position:absolute;
	top:-27px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/TextHolder_Bg.png) no-repeat right 0;
	left: 438px;
}*/
a#em2c {
	width:77px;
	height:21px;
	float:left;
	left: 420px;
	margin: 20px 0 0 0;
	position: absolute;
	
}
a#em2c:hover {
	width:77px;
	height:21px;
	float:left;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/AskNow_Btn.png) no-repeat 0 bottom;
}
.fullRewHolder {
	width:100%;
	height:58px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Holder_Bg.png) no-repeat;
	position:absolute;
	left:-12px;
	top: 32px;
}
.fullRewHolder h2 {
	width:60%;
	float:left;
	cursor:pointer;
	height:17px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/AskFriends_Icon.png) no-repeat left;
	padding-left:37px;
	margin:25px 0 0 20px;
	font:Bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
}
.middleContainer p.askThem {
	clear:left;
	width:95%;
	margin-top:60px;
	position:relative;
	float:left;
	font: 11px "Lucida Grande", Arial, sans-serif;
	color:#a7a7a7;
}
.showingResutls {
	width:100%;
	clear: both;
	font: 11px "Lucida Grande", Arial, sans-serif;
	color:#a7a7a7;
	margin:20px 0 5px;
	padding:0;
}
.showingResutls p.text {
	display:block;
	float:left;
}
p.pagination {
	display:block;
	float:right;
	padding:4px 0;
}
p.pagination a {
	padding:3px 2px 2px;
	border:1px solid #e4e3e3;
	color:#a7a7a7;
	margin: 0 2px;
}
p.pagination a:hover, p.pagination a.selected {
	color: #00BED3;
}
p.pagination a.prev {
	margin-right:7px;
	border:0;
}
p.pagination a.next {
	margin-left:5px;
	border:0;
}
/* Sortby -  Order */

.sortBy {
	width:100%;
	float:left;
	margin:6px 0 0;
	padding-bottom:10px;
	border-bottom: 1px solid #e4e4e4;
}
.sortBy h5 {
	width:55px;
	float:left;
	font:Bold 11px "Lucida Sans", Arial, sans-serif;
	color:#999999;
}
.sortBy ul {
	min-width:320px;
	float:left;
	margin:0 0 0 10px;
}
.sortBy ul li {
	width:auto;
	float:left;
	padding:1px 3px;
	margin-right:6px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#e5e4e4;
}
.sortBy ul li:hover {
	background:#8a8989;
}
.sortBy ul li a {
	font: 10px "Lucida Sans", Arial, sans-serif;
	color:#8a8989;
	padding:2px 3px;
	margin-right:5px;
}
.sortBy ul li a:hover, .sortBy ul li a.select {
	color:#fff;
}
#reviewBanner {
	width:100%;
	min-height:80px;
	float:left;
	margin:20px 0 0;
	background:#EFEFEF
}
#reviewBanner h3 {
	margin:30px 0 0;
}
/* Main Review List for product Search
----------------------------------------------------------------------------------------- */
#reviewList, #newsList {
	width:100%;
	float:left;
	padding:13px 0 0;
}
#reviewList ul.lists{
	margin-bottom: 15px;
}

#reviewList ul, #reviewList ul li, #newsList ul, #newsList ul li  {
	width:100%;
	float:left;
	display:block;
}
#reviewList ul li {
	padding-bottom:0px;
	margin-bottom: 10px;
	border-bottom:1px dotted #e4e4e4;
}

#reviewList ul li, #newsList ul li {
	padding-bottom:22px;
}
#reviewList ul li h2 a, #newsList ul li h2 a {
	display:block;
	float:left;
	font: 16px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#0b8ba8;
	text-decoration:underline;
}
#reviewList ul li h2 p.rated a {
	text-decoration:none;
}

#reviewList ul li p.prdTitle {
	display:block;
	width:45%;
	float:left;
	font:12px Arial, Helvetica, sans-serif;
	color:#45D0DF;
	line-height:21px;
	margin: 0;
}
#reviewList ul li p.prdTitle span {
	font-size:11px;
	color:#333;
}
#reviewList ul li div.level2, #newsList ul li div.level2 {
	width:100%;
	float:left;
	margin:7px 0 8px;
}
#reviewList ul li p.fullPost, #newsList ul li p.fullPost {
	width:100%;
	float:left;
	font-size:12px;
	line-height:18px;
	color:#4e4d4d;
	padding-bottom:10px;
}
#reviewList ul li p.smallpost {
	display:block;
	width:499px;
	float:right;
	font-size:12px;
	line-height:18px;
	color:#4e4d4d;
	padding-bottom:20px;
}
#reviewList ul li p.rated, #srWidget p.rated{
	width:60px;
	float:left;
	margin:3px 0 0;
	margin:3px 0 0 5px;
}
#srWidget p.rated{
	width:117px;
}
#reviewList ul li p.rated a, #srWidget p.rated a{
	width:11px;
	height:10px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/PartnersRated_Reviews.png) no-repeat 0 0;
}
#reviewList ul li p.rated a:hover, #reviewList ul li p.rated a.rate, #srWidget  p.rated a:hover, #srWidget  p.rated a.rate{
	background-position:0 -10px;
}
#reviewList ul li p.relatedLinks, #newsList ul li p.relatedLinks {
	font-size:10px;
	width: 51%;
	display:block;
	text-align:right;
	float:right;
	color:#999;
	margin:4px 8px 0 0;
}
#reviewList ul li a.more {
	font-size:11px;
	color:#3ca2b9;
	text-decoration:underline
}
#reviewList ul li p.postLinks {
	clear:left;
	width:100%;
	float:left;
	padding:6px 0 13px;
	border-bottom:1px dotted #e4e4e4;
}
#reviewList h2.listIntro{
	margin: 15px 0 0 0;
	font-size: 16px;
	color: #4E4D4D;
}
p.postLinks a {
	font-size:10px;
	color:#a7a7a7;
	margin-right:10px;
}
.content {
	width:100%;
	float:left;
	clear:both;
	color:#4e4d4d;
}
/* Iamge Container */
div.imgContainer {
	display:block;
	width:138px;
	float:left;
	margin:3px 6px 10px 0;
	color:#4e4d4d;
	border:1px solid #ebebeb;
	text-align: center;
}
/* Post footer Links  */
 a.rateYes {
	width:14px;
	height:14px;
	float:left;
	background: url("http://c448112.r12.cf2.rackcdn.com/images/write.gif") no-repeat scroll left center transparent;
	padding-left:18px;
	text-decoration:underline;
}
a.rateNo {
	width:14px;
	height:14px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Rate_Yes-No.png) no-repeat 0 -14px;
	padding-left:15px;
}
p.postLinks a.shareDis {
	width:12px;
	height:12px;
	float:left;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/Share_Icon.png) no-repeat 0 0;
	padding-left:13px;
	margin-right:48px;
}
a.comments {
	width:14px;
	height:12px;
	float:left;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/RatedReviews_Sprite.png) no-repeat 0 -41px;
	padding-left:16px;
	color:#2c9ab4;
	text-decoration:underline;
}

a.answer {
	background: url("http://c448112.r12.cf2.rackcdn.com/images/write.gif") no-repeat scroll left center transparent;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 0;
	margin-left: 3px;
	padding: 2px 6px 1px 18px;
}

/* Full Product Review
-------------------------------------------------------------------------------------------------------- */
.backBtn {
	width:100px;
	float:left;
	font-size:11px;
	font-weight:bold;
	color:#0b8ba8;
}
.backBg {
	width:100%;
	float:left;
	margin:6px 0 0;
	padding-bottom:5px;
	border-bottom: 1px solid #e4e4e4;
}
.fullReview {
	width:100%;
	float:left;
	padding:10px 0 0;
}
.fullReview .ReviewHeading {
	width:100%;
	float:left;
	clear:both;
}
div.ReviewHeading h2 a {
	display:block;
	float:left;
	font: 16px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#0b8ba8;
	text-decoration:underline;
	margin-right:5px;
}
div.ReviewHeading a.buyNow {
	width:97px;
	height:20px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Buy2Cart_Btn.png) no-repeat;
	font-size:11px;
	color:#fff;
	text-indent:16px;
	line-height:18px;
}
.fullReview div.level2 {
	width:100%;
	float:left;
	margin:8px 0 6px;
}
.fullReview p.rated {
	clear:left;
	width:60px;
	float:left;
}
.fullReview p.rated a {
	width:11px;
	height:10px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/PartnersRated_Reviews.png) no-repeat 0 0;
}
.fullReview p.rated a:hover, .fullReview p.rated a.rate {
	background-position:0 -10px;
}
.fullReview p.relatedLinks {
	font-size:10px;
	width:320px;
	float:right;
	color:#999;
}
.fullContent {
	display:block;
	width:100%;
	float:left;
	margin:6px 0 0
}
.fullContent p {
	width:100%;
	float:left;
	color:#4e4d4d;
	line-height:18px;
	padding-bottom:23px;
}
/* level 3 container */
div.level3 {
	width:100%;
	clear:left;
}
p.partnerRatings {
	width:150px;
	float:left;
}
p.partnerRatings a {
	margin-right:5px;
	font-size:10px;
	color:#a7a7a7;
}
p.userActions {
	float:right;
}
p.userActions span {
	float:left;
	width:93px;
	text-align:left;
	font-size:10px;
	color:#a7a7a7;
	line-height:18px;
}
p.userActions a {
	margin:3px 5px 0 0;
}
a.share {
	width:14px;
	height:12px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/ShareReviews_Sprite.png) no-repeat 0 -26px;
}
a.rateY {
	width:14px;
	height:13px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/ShareReviews_Sprite.png) no-repeat 0 0;
}
a.rateN {
	width:14px;
	height:13px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/ShareReviews_Sprite.png) no-repeat 0 -13px;
}
a.subscribe {
	width:14px;
	height:12px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/ShareReviews_Sprite.png) no-repeat 0 -38px;
}
/* Comments in Footer
----------------------------------------------------------------------------- */
.commentContainer {
	float:left;
	width:100%;
	padding:13px 0 0;
}
.commentContainer h3 {
	font-size:12px;
	color:#666565;
}
/* Please login to Post comments */
.commentBox {
	width:98%;
	float:left;
	margin:12px 0 0;
	padding:8px;
	padding-right:5px;
	background:#eefcfd;
}
.commentImg {
	display:block;
	width:49px;
	height:51px;
	float:left;
	padding:17px 15px 64px 3px;
}
.commentContent {
	width:530px;
	float:left;
}
.commentContent h6 {
	font-size:11px;
	color:#515354;
	padding-bottom:4px;
}
.commentContent textarea {
	width:515px;
	padding:5px;
	background:#fff;
	border:1px solid #b1e2e7;
	color:#666565;
	font-size:12px;
	line-height:18px;
	overflow: auto;
}
.commentBox p.Txt_c1 {
	width:60px;
	float:left;
	font-size:11px;
	color:#515354;
	line-height:32px;
}
.commentBox p.shareComments {
	min-width:200px;
	margin:5px 0 0;
}
p.shareComments input {
	float:left;
	margin:7px 0 0;
}
p.shareComments a {
	margin-left:15px;
}
a.fbook {
	width:26px;
	height:26px;
	float:left;
	padding-right:25px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/FaceBook_Icon.png) no-repeat right 0;
}
a.twitter {
	width:26px;
	height:26px;
	float:left;
	padding-right:25px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/Twitter_Icon.png) no-repeat right 0;
}
a.linkedIn {
	width:24px;
	height:24px;
	float:left;
	padding-right:25px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/LinkedIn_Icon.png) no-repeat right 0;
}
input.submit {
	cursor:pointer;
	width:80px;
	height:30px;
	float:right;
	margin:0 3px 0 0;
*margin-top:-17px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/SubmitComments.png) no-repeat 0 0;
	font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:1px 0 1px #000;
	text-transform:uppercase;
}
.sr_container input.submit {
	margin:10px 0 0;
}
ul.comments {
	width:100%;
	float:left;
	margin:14px 0 0 0;
}
ul.comments .commentImg {
	padding-bottom:20px;
}
ul.comments li {
	float:left;
	padding-bottom:16px;
	border-bottom:1px dotted #e4e4e4;
}
ul.comments li h5 {
	font-size:11px;
	color:#a5a5a5;
	line-height:18px;
	padding:11px 0 6px;
}
ul.comments li p {
	font-size:12px;
	color:#4e4d4d;
	line-height:18px;
	padding-bottom:10px;
}
p.no-of-comments {
	width:100%;
	float:left;
	color:#a7a7a7;
	font-size:11px;
	line-height:18px;
	margin:20px 0 0;
}
p.no-of-comments a {
	color:#49b4cd;
	font-size:inherit;
}
/* Widget for publishers 
----------------------------------------------------------------------------------- */
.widgetContainer {
	width:908px;
	margin:0 auto;
	margin-top:100px;
}
.innerContainer {
	clear:left;
	width:908px;
	float:left;
	background:#fff;
	border:1px solid #e4e4e2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0px 0px 3px #efefef;
	-moz-box-shadow: 0px 0px 3px #e4e4e2;
	-webkit-box-shadow: 0px 0px 3px #e4e4e2;
	position:relative;
}
.widgetHeader {
	width:942px;
	height:131px;
	float:left;
	position:relative;
	left:0px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	top: -11px;
	background:#1761a3
}
.widgetBG {
	width:942px;
	height:131px;
	position:absolute;
	left:-17px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	top: 30px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/Container_Corners.png) no-repeat center bottom;
}
.widgetHeader img {
	float:left;
	margin:29px 0 0 32px;
}
.headingContent {
	float:left;
	margin:60px 0 0 32px;
}
.widgetHeader h2 {
	font:Bold 24px Arial, Helvetica, sans-serif;
	color:#fff;
}
.widgetHeader p.tag {
	font-size:12px;
	color:#fff;
	line-height:14px;
}
/* Publisher Login */
.publisherLogin {
	width:240px;
	float:right;
	margin:88px 50px 0 0;
}
.publisherLogin p {
	width:163px;
	float:left;
	font-size:12px;
	color:#fff;
	line-height:19px;
}
.publisherLogin a.pubLogin {
	background:url(http://c448112.r12.cf2.rackcdn.com/images/LoginPublisher_Btn.png) no-repeat 0 0;
	width:63px;
	height:24px;
	float:left;
	padding-right:12px;
	line-height:19px;
	color:#fff;
	text-align:center;
}
/* Steps for Add widget 
------------------------------------------------------------------------------------------ */
.widgetBox {
	width:860px;
	padding:15px 24px 26px 24px;
	float:left;
	margin:167px 0 0 0;
}
/* Step Tabs */
.steps {
	width:100%;
	float:left;
	display:block;
	padding-bottom:20px;
	border-bottom:1px solid #e4e4e4;
}
.steps.noborder {
	border:0px;
	padding-bottom:7px;
}
.steps li {
	display:block;
	float:left;
	margin-right:20px;
}
.steps li span {
	display:block;
	width:35px;
	height:34px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/WidgetSteps.png) no-repeat 0 0;
	text-align:center;
	font-size:24px;
	line-height:34px;
	color:#fff;
}
.steps li p {
	width:100px;
	float:left;
	color:#A5A5A5;
	font-size:14px;
	margin-left:7px;
	line-height:34px;
}
.steps li.active span {
	background-position:center bottom;
}
.steps li.active p {
	color:#0b8ba8;
}
/* sign up */
.signUp {
	width:50%;
	float:left;
	position:relative;
}
p.mandatory {
	width:99%;
	float:left;
	padding:0 0.5%;
	border-bottom:1px solid #e4e4e4;
	font-size:10px;
	color:#999999;
	margin:11px 0 0;
}
p.mandatory span {
	display:block;
	float:right;
}
/* Form Container */
ul.signUpForm {
	width:420px;
	float:left;
	padding:32px 0 0;
}
ul.signUpForm li {
	width:99%;
	display:block;
	float:left;
}
ul.signUpForm li label {
	display:block;
	width:265px;
	float:left;
	padding:3px 0 3px 11px;
	font-size:12px;
	color:#666666;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Mandatory.png) no-repeat left;
}
ul.signUpForm li div.innerHolder {
	width:100%;
	display:block;
	float:left;
	height:42px;
}
ul.signUpForm li.noIcon label {
	background:none;
}
ul.signUpForm li input[type=text] {
	display:block;
	clear:left;
	width:265px;
	padding:10px;
	margin-left:5px;
	float:left;
	border:1px solid #eeeeee;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	font-size:12px;
	color:#8f8f8f;
	margin-bottom:6px;
}
ul.signUpForm li p.popMessage {
	display:block;
	float:right;
	margin:11px 30px 0 5px;
	line-height:14px;
	font-size:10px;
	color:#999999;
}
/* content preferences */
#preferences {
	clear:left;
	width:415px;
	float:left;
	margin:24px 0 0;
}
#preferences label {
	width:98%;
	float:left;
	padding-left:4px;
	padding-bottom:14px;
}
#preferences ul.checkList1 {
	width:135px;
	float:left;
	margin-right:35px;
}
#preferences ul.checkList2 {
	width:135px;
	float:left;
}
#preferences ul.checkList1 li, #preferences ul.checkList2 li {
	width:135px !important;
	float:left;
	padding-bottom:16px;
}
#preferences ul.checkList1 input, #preferences ul.checkList2 input {
	width:12px;
	float:left;
	margin:4px 10px 0 4px;
	padding:0;
}
#preferences p {
	display:block;
	width:106px;
	float:left;
	font-size:12px;
	line-height:20px;
	color:#666666;
}
#preferences p.terms {
	width:100%;
	border-top:1px solid #e4e4e2;
	padding:15px 0 16px;
}
p.terms a {
	font-size:12px;
	color:#2aa7c5;
	text-decoration:underline;
}
p.terms a:hover {
	font-size:12px;
	color:#2aa7c5;
	text-decoration:none;
}
#preferences p.terms input {
	padding:0;
	margin:2px 5px 0;
}
#preferences input.submit {
	cursor:pointer;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/GetWidgetCode_Btn.png) no-repeat 0 0;
	width:130px;
	height:30px;
	float:left;
	margin:10px 0 0;
	font-size:0px;
}
/* Get Widget Process - Step-2 
---------------------------------------------------------------------------------- */
.leftWrap {
	width:416px;
	float:left;
}
.leftWrap h2 {
	width:416px;
	float:left;
	font-size:14px;
	color:#999999;
	padding:8px 0 20px;
}
.leftWrap p {
	width:256px;
	float:left;
	font-size:12px;
	color:#666;
}
input.publishCode {
	width:265px;
	height:18px;
	padding:7px 10px;
	margin:5px 0 0;
	border:1px solid #eeeeee;
	color:#666666;
	background:#e8f5f6;
}
/* POPUP MODAL for Ask a Friend 
---------------------------------------------------------------------------------- */
.ask-ur-friend {
	width:626px;
	float:left;
	background:#def1f2;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.headerContainer {
	width:626px;
	height:18px;
	padding:9px 0 10px 0;
	background:#1761A3;
	border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	position:relative;
}
.headerContainer h2 {
	width:350px;
	font-size:18px;
	color:#def1f2;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/AskFriends_Icon.png) no-repeat left;
	padding-left:47px;
	margin-left:25px;
}
.headerContainer a {
	position:absolute;
	right:10px;
	top:11px;
}
.ask-ur-friend .content {
	width:582px;
	padding:23px;
}
.content p.title {
	font-size:13px;
	color:#333;
	line-height:18px;
}
input.questionTitle {
	width:562px;
	background:#fff;
	height:15px;
	padding:10px 10px 8px;
	border:1px solid #b1e2e7;
	margin-bottom:9px;
}
input.questionTitleGrey {
	width:562px;
	background:#fff;
	height:15px;
	padding:10px 10px 8px;
	border:1px solid #b1e2e7;
	margin-bottom:9px;
	font: 12px/18px "Lucida Grande", Arial, sans-serif;
	color:#999999;
}
.ask-ur-friend textarea {
	width:562px;
	height:120px;
	background:#fff;
	padding:10px;
	border:1px solid #b1e2e7;
	line-height:18px;
}
p.information {
	margin:32px 0 0;
	width:542px;
	padding-left:18px;
	font-size:10px;
	color:#333;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Info_Onhover.png) no-repeat 0 0;
}
div.share {
	width:100%;
	height:53px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Border_Img.gif) repeat-x 100% 0;
	margin:4px 0 0;
	padding:6px 0 0;
}
p.TXT_share {
	margin:6px 0 9px;
}
/* Submit a review POPUP Modal
--------------------------------------------------------------------------------- */
div.sr_container {
	background:#def1f2;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	width:626px;
	float:left;
}
div.heading {
	width:578px;
	height:23px;
	padding:10px 20px 9px 28px;
	background:#000;
	border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	position:relative;
}
div.heading h2 {
	width:150px;
	font-size:18px;
	color:#def1f2;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/UserReview_Icon.png) no-repeat left;
	padding-left:40px;
}
div.heading a {
	position:absolute;
	right:10px;
	top:11px;
}
div.sr_container .content {
	width:586px;
	float:left;
	padding:0px 20px;
}
.sr_container ul, .sr_container ul li {
	padding:5px 0 0;
	display:block;
	width:100%;
	float:left;
}
.sr_container ul label {
	width:98%;
	display:block;
	padding-bottom:4px;
	padding-left:10px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Mandatory.png) no-repeat left;
}
.sr_container ul input.productName {
	width:565px;
	height:15px;
	padding:10px 10px 8px;
	background:#fff;
	border:1px solid #b1e2e7;
}
.sr_container ul p.rating a {
	width:17px;
	height:16px;
	float:left;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/RatingReview.png) no-repeat 0 0;
	margin-bottom:12px;
}
.sr_container ul p.rating a.active, .sr_container ul p.rating a:hover {
	width:17px;
	height:16px;
	float:left;
	background-position: 0px -16px;
}
.sr_container ul textarea {
	width:565px;
	height:40px;
	padding:6px 10px;
	background:#fff;
	border:1px solid #b1e2e7;
}
.sr_container ul input.productLink {
	width:565px;
	height:15px;
	padding:10px 10px 8px;
	background:#fff;
	border:1px solid #b1e2e7;
}
.sr_container div.checkList {
	width:546px;
	float:left;
	padding:5px 20px;
	background:#fff;
	border:1px solid #b1e2e7;
}
.sr_container div.checkList ul {
	width:100%;
	padding:5px 0 0;
}
.sr_container div.checkList li {
	display:block;
	width:136px;
	float:left;
	padding:0 0 12px;
}
.sr_container div.checkList li.nopad {
	display:block;
	width:136px;
	float:left;
	padding-bottom:0;
}
.sr_container div.checkList li input {
	float:left;
	margin-right:9px;
}
.sr_container div.checkList ul li label {
	width:105px;
	float:right;
	padding:0;
	line-height:16px;
	background:none;
}
.sr_container div.share {
	width:100%;
	height:100%;
	float:left;
	margin:12px 0 0;
	padding:10px 0 10px;
}
p.infomation {
	width:387px;
	float:left;
	padding-bottom:9px;
	padding-left:20px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Info_Onhover.png) no-repeat left 2px;
}
p.shareComments {
	width:100%;
	clear:left;
}
/* Tabs */
#tabs {
	font-size: 90%;
	margin: 20px 0;
	position:relative;
	left:0;
	z-index:100;
	clear:left;
	width:418px;
	float:left;
}
#tabs ul {
	float: left;
	background: #fff;
	width: 416px;
	padding-top: 4px;
	position:relative;
	z-index:100;
	top:-2px;
}
#tabs li {
	list-style: none;
	margin-right:4px;
	border:1px solid #dfe1e1;
	border-bottom:0px;
}
* html #tabs li {
	display: inline;
}
#tabs li, #tabs li a {
	float: left;
	outline:0;
	font-size:12px;
	color:#666666;
	font-weight:normal;
}
#tabs ul li.active {
	border:1px #a4b5b6 solid;
	border-bottom:1px #e8f5f6 solid;
	background: #e8f5f6;
}
#tabs ul li.active a {
	color: #666666;
	font-size:12px;
}
#tabs div {
	width:385px;
	float:left;
	background: #e8f5f6;
	clear: both;
	padding: 15px;
	min-height: 200px;
	border:1px solid #a4b5b6;
	margin:-2px 0 0;
}
#tabs div input.toClipboard {
	cursor:pointer;
	float:left;
	width:140px;
	height:30px;
	margin:10px 0 0;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/Copy2Clipboard.png) no-repeat 0 0;
	font:Bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:1px 0px 1px #000;
	text-transform:uppercase
}
#tabs div h3 {
	display:block;
	float:left;
	font-size:11px;
	color:#666666;
	margin-bottom: 12px;
}
#tabs div textarea {
	width:370px;
	float:left;
	border:1px solid #eeeeee;
	padding:5px;
	background:#fff;
	font-size:11px;
	color:#666666;
	overflow:auto
}
#tabs div p {
	line-height: 150%;
}
#tabs ul li a {
	text-decoration: none;
	padding: 8px;
	color: #666666;
}
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-bottom:20px;
	margin-right:20px;
}
/* Ask Questions */
a {
	white-space: nowrap;
}
#askQuestions .responses {
	background:#eefcfd;
	display:block;
	width:100%;
	float:none;
	margin:0;
	padding:0;
}
#askQuestions .responses .comments li {
	margin:0;
}
#askQuestions h2 {
	display:block;
	float:none;
	font: 16px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#0b8ba8;
}
#askQuestions .responses .commentContent textarea {
	width:500px;
}
#askQuestions .responses .commentContent .submit {
	clear:both;
}
#askQuestions input.submit {
	margin-top:10px;
}
hr.ridge {
	clear:both;
	color: #fff;
	background-color: #ccc;
	border: none;
	height: 1px;
	border: 0px solid #F00;
}
/* Take Tour 
---------------------------------------------------------------------------------------------------- */
.takeTour {
	width:50%;
	float:left;
	position:relative;
}
.takeTour h2 {
	display:block;
	font:Bold 24px/18px Arial, Helvetica, sans-serif;
	color:#414141;
	float:right;
	width: 199px;
	margin-bottom:9px;
}
.tourContainer {
	position:absolute;
	top:-51px;
	left:124px;
	width:292px;
	height:319px;
	float:left;
}
.mainContent {
	width:292px;
	height:319px;
	float:left;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/TakeTour_Bg.png) no-repeat 0 0;
}
/* List Content */
.mainContent ul {
	display:block;
	width:260px;
	float:left;
	margin: 20px 0 0 20px;
}
.mainContent ul li {
	display:block;
	width:100%;
	float:left;
	margin-bottom:30px;
}
.mainContent ul li.lessMargin {
	margin-bottom:0px;
}
.mainContent ul li div {
	width:180px;
	float:left;
	padding-left:80px;
}
.mainContent ul li p {
	width:170px;
	float:left;
	font: 16px/15px Arial, Helvetica, sans-serif;
	color:#383838;
}
.mainContent ul li p span {
	clear:left;
	float:left;
	font: 10px/15px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#6b7b7c;
}
div.downWidget {
	height:51px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/Widget_Icon.png) no-repeat left;
}
div.downWidget p {
	padding-top:20px;
}
div.audience {
	height:42px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/Audience_Icon.png) no-repeat left;
}
div.earnMoney {
	height:36px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/EarnMoney_Icon.png) no-repeat left;
}
a.tourBtn {
	width:140px;
	height:30px;
	float:left;
	margin:30px 0 0 101px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/TakeTour_Btn.png) no-repeat 0 0;
	font:Bold 12px/30px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	text-shadow: 0px -1px 1px #000;
	text-transform:uppercase
}
a.signupBtn {
	display:block;
	width:140px;
	height:30px;
	margin:0 auto;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/TakeTour_Btn.png) no-repeat 0 0;
	font:Bold 12px/30px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	text-shadow: 0px -1px 1px #000;
	text-transform:uppercase
}
/* Take a Tour 
------------------------------------------------------------------------- */
#watchSlides {
	width:793px;
	height:436px;
	float:left;
	padding:9px 7px;
	background:#fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-box-shadow: 0px 0px 3px #666;
	-webkit-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;
}
#slider {
	width:793px;
	height:436px;
	float:left;
}
#slideClose {
	position:absolute;
	right:-10px;
	top:-10px;
	z-index:100;
}
.nivoSlider {
	background: url(http://c448112.r12.cf2.rackcdn.com/images/slides_bg.png) no-repeat;
}
/* Generic Content Template
------------------------------------------------------------------------- */

.contentTemplate {
	width:860px;
	padding:15px 24px 26px 24px;
	font-size:12px;
	color:#4e4d4d;
	line-height:18px;
	padding-bottom:10px;
}
.contentTemplate p {
	font-size:12px;
	color:#4e4d4d;
	line-height:18px;
	padding-bottom:10px;
}
/* Headers */
.contentTemplate h1, .contentTemplate h2, .contentTemplate h3, .contentTemplate h4 {
	font: bold 1em/1.5em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color: #555;
	margin: 8px 25px;
}
div.heading h2 {
	width:150px;
	font-size:18px;
	color:#def1f2;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/UserReview_Icon.png) no-repeat left;
	padding-left:40px;
}
.contentTemplate h1 {
	font-size: 24px;
	font-weight: normal;
	letter-spacing: -1px;
}
.contentTemplate h2, .contentTemplate h2 a {
	font-size: 22px;
	font-weight: normal;
}
.contentTemplate h3 {
	font-size: 18px;
	font-weight: normal;
	letter-spacing: -0.5px;
}
.contentTemplate h4 {
	font-size: 14px;
	font-weight: normal;
}
.headings {
	text-decoration:underline;
	font-size:30px;
	font-weight:bold;
	color:#000;
}
/* lists */
.contentTemplate ul, .contentTemplate ol {
	margin: 10px 25px;
	padding: 0 20px;
}
.contentTemplate ul, .contentTemplate ul li {
	list-style: disc;
	line-height:1.5em;
}
.contentTemplate ol, .contentTemplate ol li {
	list-style: decimal;
	line-height:1.5em;
}
.contentTemplate dt {
	font-weight: bold;
	color: #1980AF;
}
.contentTemplate dd {
	padding-bottom: 20px;
}
.contentTemplate p, .contentTemplate dl {
	margin: 10px 25px;
	line-height:1.5em;
}
/* images */
.contentTemplate img {
	float:left;
	background: #F3F4F5;
	border: 1px solid #E2E4E7;
	padding: 10px;
	margin: 0 10px 10px 0;
}
.contentTemplate img.float-right {
	margin: 5px 0px 10px 10px;
}
.contentTemplate img.float-left {
	margin: 5px 10px 10px 0px;
}
.contentTemplate code {
	width:89%;
	margin:0 0 0 26px;
	padding: 20px;
	text-align: left;
	display: block;
	overflow: auto;
	font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace;
	/* white-space: pre; */
  	border: 1px solid #F0F0F0;
	background: #F8F8F8;
	color: #555;
}
.contentTemplate acronym {
	cursor: help;
	border-bottom: 1px dotted #777;
}
.contentTemplate blockquote {
	margin: 10px 25px 20px;
	padding: 10px 20px 0 32px;
	border: 1px solid #F0F0F0;
	background: #f8f8f8 url(http://c448112.r12.cf2.rackcdn.com/images/quote.gif) no-repeat 12px 12px;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	color: #555;
}
.contentTemplate blockquote p {
	margin:7px 0;
}
.contentTemplate strong {
	font-weight: bold;
}
/* table */
.contentTemplate table {
	border-collapse: collapse;
	margin: 10px 25px 20px;
}
.contentTemplate tr {
	background: #FFF;
}
.contentTemplate th, .contentTemplate td {
	text-align: left;
	border-width: 1px;
	border-style: solid;
}
.contentTemplate th {
	padding: .8em 1em;
	background: #2C76A6;
	border-color: #308ABA #308ABA #246F97 #308ABA;
	color: #fff;
	font-weight: bold;
}
.contentTemplate td {
	border-color: #E9E9E9;
	padding: .7em 1em;
}
/* ------------------------------------------------------------------------------
		M I S C
--------------------------------------------------------------------------------- */

/* alignment classes & additional classes */
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.no-border {
	border: none;
}
.no-bg {
	background: none;
}
/* clearing */
.fix {
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden;
}
.clear {
	display:inline-block;
}
.clear:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content: " ";
}
/* Feedback form container */

.feedbackForm h2 {
	width:90%;
	float:left;
	font-size:18px;
	color:#def1f2;
	adding-left:0px;
	margin-left:12px;
	padding:0;
	background:none !important;
}
.feedbackForm {
	background:#def1f2;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	width: 400px;
	float:left;
}
.feedbackHeader {
	width:400px;
	height:18px;
	padding:9px 0 10px 0;
	background:#000;
	border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	position:relative;
}
.feedbackForm .content {
	width:360px;
	float:left;
	padding: 5px 20px 20px;
}
.feedbackForm ul, .feedbackForm ul li {
	padding:5px 0 0;
	display:block;
	width:100%;
	float:left;
}
.feedbackForm ul label {
	width:98%;
	display:block;
	padding-bottom:4px;
	padding-left:10px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/Mandatory.png) no-repeat left;
}
.feedbackForm input {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #B1E2E7;
	height: 15px;
	padding: 10px 5px 8px;
	width: 345px;
}
.feedbackForm textarea {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #B1E2E7;
	height: 15px;
	padding: 5px;
	height:90px;
	width: 345px;
	overflow:auto;
}
.feedbackForm input.submit {
	cursor:pointer;
	border:0px;
	width:82px;
	height:32px;
	float:left;
	margin:20px 3px 0 0;
	padding:0px;
 *margin-top:-17px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/SubmitComments.png) no-repeat 0 0;
	font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:1px 0 1px #000;
	text-transform:uppercase;
}
.feedbackBtn {
	float:right;
	position:fixed;
	right:0;
	z-index:5;
	top:20%;
}
.feedback {
	position:absolute;
	width:300px;
	background:#0FF;
	top:10%;
	left:10%;
}
/* categories pages styles
------------------------------------------------------------------------------------------ */
.topMargin {
	margin:80px 0 0;
}
.holder {
	width:491px;
	height:58px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/TextHolder_Bg.png) no-repeat;
	position:absolute;
	left:-12px;
	top: 32px;
}
.holder h2 {
	background: url("http://c448112.r12.cf2.rackcdn.com/images/SR.png") no-repeat scroll left center transparent;
	color: #FFFFFF;
	float: left;
	font: bold 14px/26px "Trebuchet MS", Arial, Helvetica, sans-serif;
	height: 36px;
	margin: 22px 0 0 23px;
	padding-left: 50px;
	width: 85%;
}
.breadCrumb {
	font:11px Arial, Helvetica, sans-serif;
	color:#999999;
}
.breadCrumb a {
	font:11px Arial, Helvetica, sans-serif;
	color:#999999;
}
.breadCrumb a:hover, .breadCrumb a.current {
	font:11px Arial, Helvetica, sans-serif;
	color:#0B8BA8;
	text-decoration:underline
}
.allCategories {
	width:100%;
	float:left;
}
.allCategories h3 {
	font:Bold 14px Arial, Helvetica, sans-serif;
	color:#1761a3;
	margin-bottom:10px;
}
.columns {
	width:212px;
	float:left;
	margin:0 2px;
	overflow:hidden;
}
.columns a, .twoColumns a {
	line-height:18px;
}
.columns a:hover, .twoColumns a:hover {
	text-decoration:underline;
}
.columns .innerContent {
	padding-bottom:25px;
}
/* Two column contents */
.twoColumns {
	width:49%;
	float:left;
	margin:0 0.25em 2em;
}
/* Widget content */
#srWidget {
	width:233px;
	float:left;
	margin:335px 0 0 150px;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.wizHeader {
	width: 217px;
	height: 31px;
	padding: 7px 8px 6px 8px;
	background: #00bed3;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
.wizHeader p {
	width:178px;
	height:29px;
	float: left;
	background-color:#fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.wizHeader input {
	border:0;
	width:167px;
	height:19px;
	margin:5px;
	font: 12px/19px Arial, Helvetica, sans-serif;
	color:#999999;
}
.wizHeader button {
	border:0;
	width:32px;
	height:39px;
	float:left;
	margin:0 0 0 7px;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/go_btn.png) no-repeat;
}
/* widget content */
     .wizContent {
	width: 225px;
	float:left;
	margin: 4px;
}
.wizContent h2, .wizContent h2 a {
	width:100%;
	float:left;
	font:Bold 12px/16px Arial, Helvetica, sans-serif;
	color:#3072ac;
	margin:0 0 2px;
}
.productTags {
	width: 100%;
	float: left;
}
.productTags span {
	float:left;
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
	margin:0 3px 0 0
}
.productTags a {
	font: 10px Arial, Helvetica, sans-serif;
	color:#3ca2b9;
	text-transform: capitalize;
	text-decoration:none;
}
.txtAbout {
	width:100%;
	float:left;
	font: 11px Arial, Helvetica, sans-serif;
	color:#4e4d4d;
	margin:7px 0 0;
}
.rMore {
	display:block;
	width:100px;
	float:left;
	font:10px Arial, Helvetica, sans-serif; /*(11 Jan) change font size 11 to 10*/
	color:#3ca2b9;
	text-decoration:none;
}
/* share & rating */
     .wizShare {
	width: 100%;
	float:left;
	margin:14px 0 0;
}
.wizShare .prdRating {
	width: 117px;
	float:left;
}
.wizShare .shareThis {
	width:49px;
	float:left;
	color: #a7a7a7;
	padding-left:14px;
	margin-right:10px;
	text-decoration:none;
	font:11px Arial, Helvetica, sans-serif;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/shareThis_Icon.png) no-repeat 0 0;
}
.wizShare .comments {
	width:20px;
	color: #a7a7a7;
	padding-left:14px;
	text-decoration:underline;
	font:11px Arial, Helvetica, sans-serif;
	background: url(http://c448112.r12.cf2.rackcdn.com/images/cmnts_Icon.png) no-repeat 0 1px;
}
/* widget footer content */
    .wizBottom {
	width: 217px;
	height:31px;
	float:left;
	margin: 5px 0 0;
	padding: 4px 8px;
	background-color:#f4f3f3;
	border-bottom: 1px solid #e4e4e4;
}
.wizBottom p {
	font:10px Arial, Helvetica, sans-serif;
	color: #999999;
}
.wizBottom a {
	font:10px Arial, Helvetica, sans-serif;
	color:#3ca2b9;
	text-decoration:none;
}
/* SR-footer content */
    .wizFooter {
	width:217px;
	height:26px;
	float: left;
	padding:3px 8px 13px;
}
.wizFooter a {
	float:left;
	margin:9px 0 0 0;
	font:11px Arial, Helvetica, sans-serif;
	color: #3ca2b9;
	text-decoration:underline;
}
.wizFooter a:hover {
	text-decoration: none;
}
.wizFooter img {
	display: block;
	float: right;
	margin:3px 0 0;
}


a#slickbox-toggle{color:#f05a29;}


/*11-01-2011 updation*/

.textHoldernew {
	width:100%;
	height:58px;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/holder_bg_new.png) no-repeat;
	position:absolute;
	left:-12px;
	top: 32px;
}
.textHoldernew h2 {
	width:60%;
	float:left;
	height:17px;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/AskFriends_Icon.png) no-repeat left;
	padding-left:40px;
	margin:25px 0 0 23px;
	font:Bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
}

#srWidget p.ratednew{
	width:60px;
	float:left;
	margin:3px 0 0;
	text-decoration:none;
	
}
#srWidget p.ratednew{
	width:100px;
	text-decoration:none;
}
#srWidget p.ratednew a{
	width:11px;
	height:10px;
	text-decoration:none;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/PartnersRated_Reviews.png) no-repeat 0px 0px;
}
#srWidget  p.ratednew a:hover, #srWidget  p.ratednew a.rate{
	background-position:0px -10px;
	text-decoration:none;
}
/*remove text-decoration:underline; from .wizContent h2 a*/

.wizContent h2 a.ratedleft {
	float:left;
	width:50%;
	text-decoration:underline;
	display:block;
	font:Bold 12px/16px Arial, Helvetica, sans-serif;
	color:#3072ac;
	margin:0 0 2px;
}
.RealTimeSearch{
	width:95%; 
	height:auto; 
	float:left; 
	margin:0 0 20px 0;
	padding:25px 10px 0 20px; 
}
.RealTimeSearch ul li{
	padding:5px 0 5px 0;
	display:block;
	text-align:justify;
	margin:0 0 10px 0;
	border-bottom:1px dashed #ccc;
}
.RealTimeSearch ul li img{
	padding:0 20px 20px 0;
}
.RealTimeSearch ul li p{
	font-size:12px;	
	line-height:18px;	
	color:#4e4d4d;
}
.RealTimeSearch ul li p span{
	font-size:10px; 
	padding:3px 0 0 0; 
	color:#767676; 
	display:block;
}
.RealTimeSearch ul li a{
	text-decoration:underline;
}


<!-- 17 Jan changes - Start --> 

.RealTimeSearch a:hover{
	text-decoration:none;
}
.RealTimeSearch ul li ul li{
	margin:5px 10px 0px 10px;
	border:none;
	padding-bottom:0px;
}
.RealTimeSearch ul li ul li a{
	display:block;
	margin:4px 0 0 0;
	padding-bottom:0px;
	
}
.RealTimeSearch ul li ul li span{
	font-size:10px; 
	padding:3px 0 0 0; 
	color:#767676; 
	display:block;
	margin:0px;
}
/* source -  Order */

.source {
	width:100%;
	float:left;
	margin:6px 0 0;
	padding-bottom:10px;
	border-bottom: 1px solid #e4e4e4;
}
.source h5 {
	width:55px;
	float:left;
	margin:15px 0 0 0;
	padding:0px;
	font:Bold 11px "Lucida Sans", Arial, sans-serif;
	color:#999999;
}
.source ul {
	float:left;
	display:block;
	margin:0 0 0 0px;
}
.source ul li {
	width:auto;
	color:#999999;
	float:left;
	padding:0px 3px;
	margin-right:0px;
	margin-top:12px;
}
.source ul li a {
	font:Bold 11px "Lucida Sans", Arial, sans-serif;
	color:#999999;
	float:left;
	font-weight:bold;
	padding:0px;
	margin-right:2px;
	margin-top:2px;
}
.source ul li a:hover, .source ul li a.select {
	color:#45D0DF;
}
.source ul li a.active{
	color:#45D0DF;
}
.tagcloudposition{
text-align: left;
left: -130px;
position: relative
}
.tagcloud
{
	width:280px; height:auto; padding:5px; border:#cccccc dotted 1px; color:#5da3e1; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:justify; font-weight:bolder;float: left;
}
a.style6{ color:#0b5496; font-size:24px;font-weight: bold;}
a.style5{ color:#0b5496; font-size:22px;font-weight: bold;}
a.style4{ color:#1761a3; font-size:20px;font-weight: bold;}
a.style3{ color:#1170c4; font-size:18px;font-weight: bold;}
a.style2{ color:#3881c3; font-size:16px;font-weight: bold;}
a.style1{ color:#2771b4; font-size:14px;font-weight: bold;}
em{font-weight: bold;font-style: normal;}
.fleft{
	float:left;
}
.leftContainer .facets{
	width:100%;
	float:left;
	padding:15px 5px 10px 0px;
}
.leftContainer .facets h4{
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#84a078;
	padding-bottom:10px;
}
.leftContainer .facets ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.leftContainer .facets ul li{
	padding-top: 10px;
	clear: both;
}
.leftContainer .facets ul li h2{
	width:100%;
}
.leftContainer .facets ul li h2 span{	
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#000000;
	padding-right:2px;
	margin-bottom:5px;
}
.leftContainer .facets ul li ul{
	padding-top: 5px;
}
.leftContainer .facets ul li ul li{
	padding:0;
}
.leftContainer .facets ul li ul li h6 span{
	color: #BBBBBB;
}
.leftContainer .facets h5{
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#6699CC;
	width:60%;
	float:left;
	padding-left:14px;
}
.leftContainer_color .facets h5{
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#6699CC;
	width:50%;
	float:left;
}
.leftContainer .facets  a{	
	outline: none;
	cursor: pointer; 
}
.leftContainer .facets h6{
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	line-height:17px;
	text-decoration:none;
	width:60%;
	float:left;
	padding-left:14px;	 
}
.leftContainer .facets h6.wdth{
	width:100%;
}	
.count_txt{
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#bbbbbb;
	line-height:17px;
	/*float:left;*/
	text-align:right;
	float:right;
	padding-right:16px;
	
}
.count_txt_select{
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#bbbbbb;
	line-height:16px;
	/*float:left;*/
	text-align:right;
	float:right;
	/*width: 50px;*/
	/*padding-right:16px;*/
	
}

.leftContainer .facets a.disabledFacet{
	color: #BBBBBB;
	cursor: default; 
}
span.norate{ width:11px; height:10px; float:left; background:url(http://c448112.r12.cf2.rackcdn.com/images/PartnersRated_Reviews.png) no-repeat 0 0;}
span.rate{ width:11px; height:10px; float:left; background:url(http://c448112.r12.cf2.rackcdn.com/images/PartnersRated_Reviews.png) no-repeat 0 0;background-position:0 -10px; }
ul.sentimentCloudRemoveArea{
	float: left;
	width: 100%;
	padding: 5px;
}
ul.sentimentCloudRemoveArea li{
	padding: 2px 3px 0 0;
	float: left;
}
ul.sentimentCloudRemoveArea li span {
	display:block;
	float:left;
	margin-right:10px;
	padding:2px 0;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color:#3f3f3f;
}

<!-- 26 Jan changes - Start --> 
.indexImages{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.indexImages a{
	float:left;
	margin:0 0 0 50px;
}
.indexImages a.apps{
	float:left;
	display:block;
	margin:0 0 0 250px;
}

<!-- Feb 10th, overlay changes -->
.overlay{
	width: 100%;
	margin:0px auto;
	padding:0px;

}
.overlayWrap{
	width:1077px;
	float:right;
	padding:0px;
	margin:0px;
}
.OverlaysearchResult{
	background: #fff;
	border: 1px solid #e4e4e4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width: 707px;
	float:left;
	padding:0px;
	margin:78px 100px 0 0;
}
.Overlayheader{
	width: 677px;
	float:left;
	padding:50px 15px 30px 35px;
	margin:0 50px 0 0;
}
.Overlayheader h2 a.headtag{
	display:block;
	float:left;
	font: 16px "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	color:#0b8ba8;
	text-decoration:underline;

}
.Overlayheader p.productTags {
	display:block;
	width:100%;
	float:left;
	font:12px Arial, Helvetica, sans-serif;
	color:#45D0DF;
	line-height:21px;
	margin:5px 0 0;
}
.Overlayheader h2 p.productTags span {
	font-size:11px;
	line-height:21px;
	color:#333;
	padding:0 0 2px 0;
}


p.newrated{
	width:60px;
	float:left;
	margin:3px 0 0;
	text-decoration:none;
	
}
p.newrated{
	width:100px;
	text-decoration:none;
}
p.newrated a{
	width:11px;
	height:10px;
	text-decoration:none;
	float:left;
	background:url(http://c448112.r12.cf2.rackcdn.com/images/PartnersRated_Reviews.png) no-repeat 0px 0px;
}
 p.newrated a:hover,  p.newrated a.rate{
	background-position:0px -10px;
	text-decoration:none;
}
 p.relatedLinks {
	font-size:10px;
	min-width:80px;
	float:right;
	color:#999;
	margin:0 40px 0 0;
}
#contentNew{
	width:640px;
	height:300px;
	float:left;
	overflow:auto;
	color:#4e4d4d;
	margin:10px 0 0 0;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
}
#contentNew p{
	width:600px;
	padding:10px 5px 7px 0px;
	font-size:12px;
	line-height:18px;
	color:#4e4d4d;
	padding-bottom:20px;
}
#topclose{
	margin:0px 40px 0px 0;
	position:relative;
	top:-25px;
}
.WidgetLogo{
	width:100%;
	float:left;
	margin:0 0 20px 10px;
}
.WidgetLogo a{
	display:block;
	float:left;
	margin:10px 0 0px 0;
	padding:0px;
	color:#45D0DF;
	font-size:13px;
}
.rightOvrlay{
	
	width:255px;
	height:100%;
	background:#fff;
	padding:15px 0 0 0;
	position:fixed;
	top:0px;
	right:0px;
	margin:0;
	overflow:auto;
}
.leftOvrlay{
	width: 677px;
	float:left;
	margin:0 0px 0 0;
	position:relative;
}

.rightOvrlay #srWidget{padding:0px; margin:0px; float:left !important; margin-left:10px;}

.widerwindow{min-width: 1250px;}

#newArticle input[type=text] {
	display:block;
	clear:left;
	width:265px;
	padding:10px;
	margin-left:5px;
	float:left;
	border:1px solid #eeeeee;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	font-size:12px;
	color:#8f8f8f;
	margin-bottom:6px;
}

#search_button{
	margin-bottom: -10px;
}
#powered_by{
	display: block;
	float: right;
	width: 100px;
	margin-top: 4px;
}

.iframereviews{
	width:98%;
	float:left;
	margin:0px 0 0;
	padding:17px 10px 43px 10px;
	position:relative;
}

.wid-no-of-Reviews {
	width:110px;
	float:left;
	font-size:12px;
	color:#999;
}
.wid-no-of-Reviews span {
	font-size:14px;
	color:#000;
	font-weight:bold;
}

.iframereviews form{
	float:left;
	font-size:12px;
	color:#999;
}