body{
    margin: 0px;
    padding: 0px;
    border: 0;
    display: block;
}
img{
    border: 0px;
    margin:0px;
    padding:0px;
    float: left;
}

a{
    text-decoration: none;
}
#mainContainer{
    margin: auto;
}
#innerContainer{
    margin: auto;
    font-family: "Lucida Sans", "Lucida Grande", Arial, sans-serif;
    font-size: 12px;
    line-height: 13px;
}
#header{
    margin: 5px 5px 5px 5px;
}
#header input[type=text]{
    border: 1px solid #9a9a9a;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    padding: 8px;
    width: 350px;
    margin: 0px;
    color: #838383;
    font-size: 20px;
    float:left;
}
.floatLeft{
    float: left;
}
.floatRight{
    float:right;
}
.clearfix:after{
    clear: both;
    content: ".";
    display:block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.bold{
    font-weight: bold;
}
#header #powered{
    margin: 5px 0px 5px 10px;
}
#header #addwidget{
    margin: 0px;
    border:0px;
}
#pagination{
    padding: 5px 5px 17px 5px;
}
#pagination #pages a{
    background:url(http://c448112.r12.cf2.rackcdn.com/images/overlay.png) repeat-x center #e4e4e4;
    border: 1px solid #e4e4e4;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    padding: 3px 6px 3px 6px;
    margin: 0px 3px 0px 3px;
    color: #838383;
    font-size: 12px;
}
#pagination #pages .active a{
    background:url(http://c448112.r12.cf2.rackcdn.com/images/overlay.png) repeat-x center #2c537b;
    border: 1px solid #2c537b;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    color:white;
    text-shadow: 1px 1px 1px #000000;
}
#pagination #next input[type=button]{
    background:url(http://c448112.r12.cf2.rackcdn.com/images/overlay.png) repeat-x center #e4e4e4;
    border: 1px solid #e4e4e4;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    padding: 3px 6px 3px 6px;
    color: #838383;
    font-size: 12px;
}
#sponsoredReview{
    background-color: #ebeff9;       
	padding: 10px 0 18px;
	margin-bottom: 10px;
}
#productReview{
    background-color: white;
		margin-bottom: 10px;
}
#productImage{
    margin: 5px 5px 0px 5px;
    padding: 6px 8px 6px 8px;
    background-color: white;
    border: 1px solid #9a9a9a;
		width: 59px;
}
#productImageDefault{
    padding: 18px 17px 16px 18px;;
    margin: 5px 5px 0px 5px;
    background-color: white;
    border: 1px solid #9a9a9a;
}
#productReviewText{
    margin: 5px 10px 4px 100px;
		position: relative;
		top: 7px;
}
span.rated{
	position: relative;
	top: 2px;    
	left: 7px;   
	letter-spacing: -3px;
}
span.rated a{
width: 11px;
height: 10px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline;
    background:url(http://c448112.r12.cf2.rackcdn.com/images/PartnersRated_Reviews.png) no-repeat 0 0;
}             
span.rated a.rateStar{
	background-position: 0 -10px;
}
#result{
    font-size: 17px;
}
#result a{
    color: #1761a3;
}
#reviewSource{
    font-family: Georgia, 'Times New Roman', Times, Serif;
    font-style: italic;
    margin: 2px 0px 2px 0px;
}
#reviewSource a{
    color: #1761a3;
}
#review_short_text{
    margin-bottom: 3px;
}
#review_full_text{
    margin-bottom: 3px;
}
#review_short_text a{
    color: #1761a3;
}
#review_full_text a{
    color: #1761a3;
}
#review_short_text a.more,
#review_full_text a.less{
	padding-left: 10px;
}
.lightGray{
    color: #aaaaaa;
}
.darkGray{
    color: #838383;
}
.blue{
    color: #1761a3;
}
#learnMore input[type=button]{
    background:url(http://c448112.r12.cf2.rackcdn.com/images/overlay.png) repeat-x center #2c537b;
    border: 1px solid #2c537b;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    padding: 2px 5px 4px 7px;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    font-size: 12px;
    line-height: 12px;
}
#dottedLine{
    border-top: 2px dotted #aaaaaa;
    margin-top: 11px;
	margin-left: 115px;
}

.learn_more {
	background:url(http://c448112.r12.cf2.rackcdn.com/images/overlay.png) repeat-x center #2c537b;
    	border: 1px solid #2c537b;
    	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	padding: 2px 5px 4px 7px;
    	color: white;
    	text-shadow: 1px 1px 1px #000000;
    	font-size: 12px;
    	line-height: 12px;
}